---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import LinkedInicon from '../components/LinkedInIcon.astro';
import SocialPill from '../components/SocialPill.astro';
import GitHubicon from '../components/GithubIcon.astro';
import MailIcon from '../components/MailIcon.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Briefcase from '../components/BriefcaseIcon.astro';
import CodeIcon from '../components/CodeIcon.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Porfolio Denise Khurlopian. Desarrollador y programador web"
description="contrata a Denise Khurlopian para desarrollar webs.">
	<main class="px-4">
		<SectionContainer class="py-2 md:py-16 pb-14 lg:pb-20">
			<img class="rounded-full size-20 mb-4" src="https://media.licdn.com/dms/image/D4D03AQFVqOjM7JgnOA/profile-displayphoto-shrink_200_200/0/1709986990338?e=1715212800&v=beta&t=jKAAYjye8BqHjDGxS2XMAKIQiROVnI4EU39zBrgQ-2E" 
    		alt="denise photo"/>
			<h1 class="text-white text-ml md:text-2xl lg:text-3xl font-bold flex flex-row gap-x-4 ">Hey, soy Denise Khurlopian 
				<a href="https://www.linkedin.com/in/denise-khurlopian-97aa08183/"
				target="_blank"
				rel="noopener"
				class="flex justify-center items-center"
				>
				<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-ml lg:text-2xl max-w-[700px] text-wrap opacity-80 text-yellow-200">Desarrolladora Web, apasiada por este mundo y hambrienta por mostrar mi potencial</h2>
		
			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/denise-khurlopian">
					<LinkedInicon class="size-4 md:size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/dkhurlop">
					<GitHubicon class="size-4 md:size-6" />
					GitHub
				</SocialPill>
				<SocialPill>
					Descargar CV
				</SocialPill>
				<SocialPill href="mailto:denisekhurlopian@gmail.com">
					<MailIcon class="size-4 md:size-6" />
					Contactame
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="text-2x1 font-semibold mb-2 flex gap-x-2 items-center">
				<Briefcase class="size-4 md:size-7" />
				Experiencia Laboral
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-2x1 font-semibold mb-2 flex gap-x-2 items-center">
				<CodeIcon class="size-4 md:size-7" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>